.programmer {
  margin: 10px;
  padding: 10px;
  border: 2px solid green;
  background-color: lightyellow;
  border-radius: 5px;
}

.upload-link {
  cursor: pointer;
  color: #0074d9;
  text-decoration: underline;
}
